<form [formGroup]="form" (ngSubmit)="login()">
    <mat-form-field appearance="outline">
        <mat-label for="identifier">Identifiant</mat-label>
        <input matInput type="text" id="identifier" formControlName="identifier">
        <mat-error
            *ngIf="form.get('identifier').hasError('required') && (form.get('identifier').dirty || form.get('identifier').touched)">
            Un identifiant est obligatoire.
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label for="password">Mot de passe</mat-label>
        <input matInput type="password" id="password" formControlName="password">
        <mat-error
            *ngIf="form.get('password').hasError('required') && (form.get('password').dirty || form.get('password').touched)">
            Un mot de passe est obligatoire.
        </mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Se connecter</button>
    <a mat-stroked-button appareance="underline" routerLink="/inscription">Pas de compte ? Inscrivez-vous !</a>
</form>